<h1 class="text-center">Welcome To The Tech Blog</h1>
<h2 class="text-center">All Posts</h2>
{{#each posts}}
<div class="card marginleft">
    <a href="/post/{{id}}"><h3>{{title}}</h3></a>
    <p>{{body}}</p>
    <p>Created on {{date}}</p>
</div>


{{/each}}